html{
    height: 100%;
}

body{
    height: 100%;
}

#container{
    width: 30rem;
    height: 30rem;
    margin: 2rem auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.column{
    border: 2px solid black;
    flex: 1;
}