@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    background-color: rgb(30, 30, 30);
    font-family: monospace;
    box-shadow: 0rem 1.5rem 1.5rem -0.5rem azure inset;
    color: azure;
}

/* styles fot title section */

#title {
    text-align: center;
    font-size: 3rem;
    font-family: 'VT323', monospace;
    margin: 0;
    padding-top: 1rem;
}

/* styles for mechanism and grid section*/

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;
}

#container {
    width: 30rem;
    height: 30rem;
    margin: 2rem auto;
    border: 8px solid rgb(110, 110, 110);
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    box-sizing: border-box;
    background-color: rgb(110, 110, 110);
    flex: 1;
}

/* styles for buttons section */

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin: 2rem auto;
}

.button {
    padding: 1rem 1.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    box-sizing: border-box;
    background-color: rgb(110, 110, 110);
    border: 2px solid azure;
    transition-duration: 0.3s;
}

#white:hover {
    cursor: pointer;
    box-shadow: 4px 5px 15px 4px white;
    border: 2px solid azure;
    background-color: azure;
    font-weight: 600;
    font-size: 1.7rem;
}

#black:hover {
    cursor: pointer;
    box-shadow: 4px 5px 15px 4px black;
    border: 2px solid black;
    background-color: black;
    color: azure;
    font-weight: 600;
    font-size: 1.6rem;
}

#rainbow:hover {
    cursor: pointer;
    box-shadow: 4px 5px 20px 4px yellow;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo) 1;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: azure;
    font-weight: 600;
    font-size: 1.6rem;
}

#clear:hover {
    cursor: pointer;
    box-shadow: 4px 5px 15px 4px rgb(110, 110, 110);
    border: 2px solid rgb(110, 110, 110);
    background-color: rgb(110, 110, 110);
    font-weight: 700;
    font-size: 1.7rem;
}

/* styles for slider */

#slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slider {
    appearance: none;
    width: 50%;
    height: 25px;
    background: rgb(110, 110, 110);
    outline: none;
    border: 2px solid azure;
    border-radius: 8px;
    opacity: 0.7;
    transition-duration: 0.2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 25px;
    height: 25px;
    background: azure;
    cursor: pointer;
}

/* styles for footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: azure;
    font-size: small;
    text-align: end;
}